.backNormal {
  background-color: #A8A090;
}

.backFighting {
  background-color: #A05038;
}

.backFlaying {
  background-color: #98A8F0;
}

.backPoison {
  background-color: #B058A0;
}

.backGround {
  background-color: #E9D6A4;
}

.backRock {
  background-color: #B8A058;
}

.backBug {
  background-color: #A8B820;
}

.backGhost {
  background-color: #6060B0;
}

.backStell {
  background-color: 	#A8A8C0;
}

.backFire {
  background-color: #F05030;
}

.backWater {
  background-color: #3899F8;
}

.backGrass {
  background-color: #78C850;
}

.backElectric {
  background-color: 	#F8D030;
}

.backPsychic {
  background-color: #F870A0;
}

.backIce {
  background-color: #58C8E0;
}

.backDragon {
  background-color: 	#7860E0;
}

.backDark {
  background-color: #7A5848;
}

.backFairy {
  background-color: #E79FE7;
}