.navContainer {
  height: 75px;
  width: 100vw;
  // background-color: rgb(202, 221, 92);
  
  // background-image: url(../Imagenes/logo-pokemon-trans.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain; 
}
.logoContainer {
  background-color: rgb(202, 221, 92);
  img {
  
    height: 75px;
    
  }
}
